<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的笔记-笔记-后院</title>
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/manage/headerMenu.css">
    <link rel="stylesheet" href="/stylesheets/manage/article/myArticles.css">
</head>
<body>
    <%-include ../myheader.html %>
    <div id="main">
        <div id="mainLeft" :class="{'small':isSmall}">
            <div id="menu" :class="{'small-menu':isSmall}">
                <%-include ../menu.html %>
            </div>
            <div id="back" class="W3CfunsIcons-font" :class="{'reset':isSmall}" @click="back"></div>
        </div>
        <div id="mainRight">
            <div class="content-title">笔记管理</div>
            <div class="tabs clear">
                <a href="/manage/article/myArticles.html" class="current">我的笔记</a>
                <a href="#">笔记分类</a>
                <a href="#">草稿箱</a>
                <a href="/manage/article/addArticle.html">打笔记</a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/vue.js"></script>
    <script type="text/javascript" src="/javascripts/manage/headerMenu.js"></script>
    <script type="text/javascript" src="/javascripts/manage/article/myArticle.js"></script>
</body>
</html>