<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/base_header.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/user/login.css">
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/user/loginNG.js"></script>
</head>
<body>
    <%- include ../include/header.html %>
    <div id="banner"></div>
    <div id="main">
        <dt>
            <span>欢迎回来</span>
            <i>还没账号？<a href="/user/register.html">立即注册</a></i>
        </dt>
        <form id="loginForm" action="/user/doLogin.html" method="post" ng-app="loginForm" ng-controller="loginFormCtrl">
            <dl ng-class="{'input-focus':usernameFocus}">
                <label for="username" class="W3CfunsIcons-font">我的账号</label><input type="text" name="username" id="username" ng-model="username" ng-focus="usFocus()" ng-blur="usBlur()" ng-keydown="usKeydown($event)"><span ng-show="usernameError">{{usernameInfo}}</span>
            </dl>
            <dl>
                <label for="password" class="W3CfunsIcons-font">登录密码</label><input type="password" name="password" id="password" ng-model="password" ng-focus="psdFocus()" ng-blur="psdBlur()" ng-keydown="psdKeydown($event)"><span ng-show="passwordError">{{passwordInfo}}</span>
            </dl>
            <div class="clear">
                <a href="javascript:void(0)" id="loginBtn" ng-click="submitForm()">立即登录</a>
                <span class="get-back">忘记密码或验证问题，<a href="">点击找回</a></span>
            </div>
        </form>
    </div>
</body>
</html>