<!-- bigMenu.html -->
<div class="user">
    <img src="" alt="">
    <p>mj921</p>
</div>
<div class="menu">
    <a class="article W3CfunsIcons-font current">{{textShow ? "笔记" : ""}}</a>
    <a class="collection W3CfunsIcons-font">{{textShow ? "收藏" : ""}}</a>
    <a class="news W3CfunsIcons-font">{{textShow ? "消息" : ""}}</a>
    <a class="letter W3CfunsIcons-font">{{textShow ? "私信" : ""}}</a>
    <a class="set W3CfunsIcons-font">{{textShow ? "设置" : ""}}</a>
    <a class="recycle W3CfunsIcons-font">{{textShow ? "回收站" : ""}}</a>
</div>